<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web1</display-name>
  
 
  <mime-mapping>
    <extension>flv</extension>
    <mime-type>video/x-flv</mime-type>
</mime-mapping>
  
  <mime-mapping>
        <extension>mp4</extension>
        <mime-type>video/mp4</mime-type>
    </mime-mapping>
  
  <servlet>
  	<servlet-name>UploadHandleServlet</servlet-name>
  	<servlet-class>servlet.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadHandleServlet</servlet-name>
  	<url-pattern>/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
   
  <servlet>
  	<servlet-name>DownloadHandleServlet</servlet-name>
  	<servlet-class>servlet.DownloadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadHandleServlet</servlet-name>
  	<url-pattern>/DownloadHandleServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <welcome-file-list>
  	<welcome-file>Upload.jsp</welcome-file>
  </welcome-file-list>
</web-app>